<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563210328866-bpcdshq2sappt9vcba5ifptdek50hudt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563210328866-bpcdshq2sappt9vcba5ifptdek50hudt</string>
	<key>API_KEY</key>
	<string>AIzaSyAMaAnPyqp5zBs0mWB39sNbp8hDsXH14sI</string>
	<key>GCM_SENDER_ID</key>
	<string>563210328866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jrlabs.Angliru</string>
	<key>PROJECT_ID</key>
	<string>ciclismo-fa7ad</string>
	<key>STORAGE_BUCKET</key>
	<string>ciclismo-fa7ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563210328866:ios:b59ff4710f7d3965</string>
	<key>DATABASE_URL</key>
	<string>https://ciclismo-fa7ad.firebaseio.com</string>
</dict>
</plist>